:root {
  --blue: rgb(74, 197, 237);
  --orange: rgb(239, 111, 82);
  --black: #272727;
  --purple: rgb(213, 189, 220);
}

body {
  margin: 0;
  padding: 0;
  color: #272727;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}
