html {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container:before {
  content: none !important;
}

.container:after {
  content: none !important;
}

.item {
  border-radius: 3px;
  font-size: 18px;
}
