/*
 * Navbar
 */
.navbar-default .navbar-nav li a {
  color: #1367e4;
  font-size: 15px;
  font-weight: lighter;
  padding-right: 20px;
}

.about {
  padding-right: 60px;
}

.navbar {
  border: 0;
  border-bottom: solid var(--blue);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-brand {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
